MONGODB_URI=mongodb+srv://mdmoinu:mdmoinu@cluster0.bc1pr.mongodb.net/

NEXTAUTH_SECRET="hfdgvhjr6rjk8ifw54uzfjh7juftzj";


NEXT_PUBLIC_PUBLIC_KEY="public_XDiutkjuOknAlGd6nNTNMUnrjno="
NEXT_PUBLIC_URL_ENDPOINT="https://ik.imagekit.io/mdmoinu"
PRIVATE_KEY="private_LT3/yEHcZl4OAMGD0HZN1KEzm9A="